body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #130606;
}
/* Common light style */
.light {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  opacity: 0.5;
  transition: opacity 1s, box-shadow 0.3s;
}


.traffic-light {
  width: 100px;
  height: 300px;
  background: #333;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
   margin: 50px auto;
}
.red {
  background-color: red;
  box-shadow: 0 0 25px red;
}

.yellow {
  background-color: yellow;
  box-shadow: 0 0 25px yellow;
}

.green {
  background-color: green;
  box-shadow: 0 0 25px green;
}

/* Optional hover effect: switch light on hover */
.light:hover {
  opacity: 1.5;
  transform: scale(1.05);
}